[mysqld]
user		= mysql
port		= 3306
log-bin		= mysql-bin
relay-log	= mysql-relay
server-id	= _SERVERID_

master-info-repository=table
relay-log-info-repository=table
gtid_mode=ON
# log-slave-updates 
enforce-gtid-consistency
